/*
 * === Filters class style ===
 */

/* Filters style */
.filters {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

/* Search button style */
.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  float: right;
  margin: 11px 30px 11px 0px;
}

/* Search button hover opacity */
.filters button:hover {
  opacity: 0.9;
}

/* Locations and amenities style */
.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  float: left;
  margin-left: 30px;
}

/* Locations border */
.filters .locations {
  border-right: solid #DDDDDD 1px;
}

/*
 * --- Places header style ---
 */

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header 3 style */
.filters .locations h3,
.filters .amenities h3 {
  font-weight: 600;
  padding-top: 7%;
  margin: 0;
}

/* Header 4 style */
.filters .locations h4,
.filters .amenities h4 {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 7%;
  margin: 0;
}
