/*
 * === Places class style ===
 */

/* Places style */
.places {
  width: 100%;
  text-align: center;
}

/* Places header style */
.places h1 {
  font-size: 30px;
  text-align: left;
}

/* Places style */
.places article {
  display: inline-block;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: solid #ff5a5f 1px;
  border-radius: 4px;
}

.places article h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}
